/*
 * File: style.css
 * Name: Sheng Wang
 * ID: 300765817
 * Date: Jun 7, 2023
 */

/* Set style for main content */
 .container{
    height: 100vh;
    overflow-y: scroll;
}

.bg-epson-blue {
    background-color: #003399;
}
